main > *{
	font-family: sans-serif;
	background-color: goldenrod;
	display: flex;
	justify-content: center;
	align-items: center;
}
body{
	margin: 0;
	padding: 0;
}

main{
	height: 100vh;
	display: grid;
	grid-gap: 5px;	

	grid-template-columns: 
		[sidebar-start] 1fr
		[contenido-start] 2fr;

	grid-template-rows:
		[header-start] 1fr
		[contenido-start] 2fr
		[footer-start] 1fr;
}

header{
	grid-column: sidebar-start / span 2;
}

aside{
	grid-row: contenido-start / span 2;
}

footer{
	grid-column: contenido-start;
}